<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Plataforma</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/quill/quill.snow.css" rel="stylesheet">
  <link href="assets/vendor/quill/quill.bubble.css" rel="stylesheet">
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="assets/vendor/simple-datatables/style.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: NiceAdmin
  * Updated: Jul 27 2023 with Bootstrap v5.3.1
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a href="index.html" class="logo d-flex align-items-center">
       <!-- Colocar a logo da plataforma aqui --> <!--<img src="assets/img/logo.png"> -->
        <span class="d-none d-lg-block">Plataforma</span>
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->

  </header><!-- End Header -->

  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link collapsed" href="/">
          <i class="ri-home-2-line"></i>
          <span>Home</span>
        </a>
      </li> 

      <li class="nav-item">
        <a class="nav-link collapsed" href="/quem-somos">
          <i class="ri-group-line"></i>
          <span>Quem somos</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" href="/servicos">
          <i class="ri-customer-service-2-line"></i>
          <span>Serviços</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" href="/blog">
          <i class="bi bi-person"></i>
          <span>Blog/noticias</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" href="/contato">
          <i class="bi bi-envelope"></i>
          <span>Contato</span>
        </a>
      </li>
      

    </ul>

  </aside><!-- End Sidebar-->

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Home</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item">Home</li>
         
        </ol>
      </nav>
    </div><!-- End Page Title -->


    <div class="row">
      <div class="col-lg-12" data-aos="fade-left" data-aos-delay="100">
        <div class="icon-box mt-5 mt-lg-0" data-aos="zoom-in" data-aos-delay="150">

          <h3 style="color: #4154f1;">Bem-vindo à plataforma de criação de websites mais rápida da região!</h3>
          
          <div class="info-box card">
          <p > Você já imaginou ter um site completo e pronto para os seus usuários em tempo recorde? Agora isso é possível com a nossa plataforma de última geração. Estamos orgulhosos de oferecer a solução definitiva para quem valoriza agilidade, eficiência e qualidade na construção de sites.</p>
          
          <p> Sabemos que o tempo é crucial nos negócios modernos. Cada minuto conta, e é por isso que desenvolvemos uma plataforma que otimiza cada etapa do processo de criação de websites. Desde a concepção até o lançamento, nossa equipe de especialistas se empenha em proporcionar a você uma experiência fluida e veloz, garantindo que o seu site esteja no ar em um piscar de olhos.</p>
        </div>
      </div>

      </div>
    </div>


  </main><!-- End #main -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/chart.js/chart.umd.js"></script>
  <script src="assets/vendor/echarts/echarts.min.js"></script>
  <script src="assets/vendor/quill/quill.min.js"></script>
  <script src="assets/vendor/simple-datatables/simple-datatables.js"></script>
  <script src="assets/vendor/tinymce/tinymce.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>